* {
    background-color: darkgray;
}

.background {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1200px;
    background-size: 1200px 400px;
    background-image: url(res/bg2.gif);
    border: 10px solid black;
}

.controls {
    padding-top: 25px;
    text-align: center;
}

button {
    font-size: xx-large;
    background-image: radial-gradient(salmon , red , darkred );
    border-radius: 10px;
}

#player {
    background-color: rgba(0 ,0 , 0, 0);
    width: 200px;
    height: 175px;
    background-image: url(res/beaver.png);
    background-size: 200px 175px;
    

    position: relative;
    top: 225px;
}

#platform {
    background-color: rgba(0 ,0 , 0, 0);
    width: 200px;
    height: 175px;
    background-image: url(res/log.png);
    background-size: 200px 175px;
    filter: brightness(0.7);
    -webkit-filter: drop-shadow(12px 7px rgba(0, 0, 0, 1));
         filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 1));
    position: absolute;
    top: 300px;
}

.jump {
    animation: jump_anim 0.6s linear;
}

@keyframes jump_anim {
    0% {
        top: 225px;
        background-image: url(res/beaverstand.png);
    }
    33% {
        top: 125px;
        background-image: url(res/beaverstand.png);
    }
    50% {
        top: 25px;
        background-image: url(res/beaverstand.png);
    }
    66% {
        top: 125px;
        background-image: url(res/beaverstand.png);   
    }
    80% {
        top: 175px;
        background-image: url(res/beaverstand.png);
    }
    100% {
        top: 225px;
        background-image: url(res/beaver.png);
    }
}


